[submodule "QMediaCore/Thirdparty/stb"]
	path = QMediaCore/Thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "QMediaCore/Thirdparty/mp4"]
	path = QMediaCore/Thirdparty/mp4
	url = https://github.com/spring-zh/mp4.git
	branch = develop
[submodule "code_gen/djinni"]
	path = code_gen/djinni
	url = git@github.com:spring-zh/djinni.git
	branch = develop
